ERPForm/Web References/localhost/ERPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://erpimlement.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://erpimlement.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://erpimlement.org/">
      <s:element name="EmployeeComboBox">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeComboBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeComboBoxResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MetaDataComboBox">
        <s:complexType />
      </s:element>
      <s:element name="MetaDataComboBoxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MetaDataComboBoxResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpRelativeMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpRelativeMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpRelativeMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpAbsMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpAbsMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpAbsMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpTopAbsMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpTopAbsMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpTopAbsMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPKMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPKMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPKMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexesMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetIndexesMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexesMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllConstraintsMetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetAllConstraintsMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllConstraintsMetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTable1MetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetTable1MetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTable1MetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTable2MetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetTable2MetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTable2MetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpColumns1MetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpColumns1MetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpColumns1MetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpColumns2MetaData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpColumns2MetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpColumns2MetaDataResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployee">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteEmployeeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmpRelativeData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpRelativeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpRelativeDataResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpAbsData">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpAbsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpAbsDataResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpTopAbs">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpTopAbsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpTopAbsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPK">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPKResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPKResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetAllConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllConstraintsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTable1">
        <s:complexType />
      </s:element>
      <s:element name="GetTable1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTable1Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTable2">
        <s:complexType />
      </s:element>
      <s:element name="GetTable2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTable2Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpColumns1">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpColumns1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpColumns1Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpColumns2">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpColumns2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpColumns2Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeComboBoxSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeComboBox" />
  </wsdl:message>
  <wsdl:message name="EmployeeComboBoxSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeComboBoxResponse" />
  </wsdl:message>
  <wsdl:message name="MetaDataComboBoxSoapIn">
    <wsdl:part name="parameters" element="tns:MetaDataComboBox" />
  </wsdl:message>
  <wsdl:message name="MetaDataComboBoxSoapOut">
    <wsdl:part name="parameters" element="tns:MetaDataComboBoxResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpRelativeMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpRelativeMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmpRelativeMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpRelativeMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpAbsMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpAbsMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmpAbsMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpAbsMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpTopAbsMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpTopAbsMetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmpTopAbsMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpTopAbsMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPKMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPKMetaData" />
  </wsdl:message>
  <wsdl:message name="GetAllPKMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPKMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexesMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexesMetaData" />
  </wsdl:message>
  <wsdl:message name="GetIndexesMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexesMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllConstraintsMetaData" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllConstraintsMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTable1MetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTable1MetaData" />
  </wsdl:message>
  <wsdl:message name="GetTable1MetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTable1MetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTable2MetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTable2MetaData" />
  </wsdl:message>
  <wsdl:message name="GetTable2MetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTable2MetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns1MetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpColumns1MetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns1MetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpColumns1MetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns2MetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpColumns2MetaData" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns2MetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpColumns2MetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEmployee" />
  </wsdl:message>
  <wsdl:message name="UpdateEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="DeleteEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpRelativeDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpRelativeData" />
  </wsdl:message>
  <wsdl:message name="GetEmpRelativeDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpRelativeDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpAbsDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpAbsData" />
  </wsdl:message>
  <wsdl:message name="GetEmpAbsDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpAbsDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpTopAbsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpTopAbs" />
  </wsdl:message>
  <wsdl:message name="GetEmpTopAbsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpTopAbsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPKSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPK" />
  </wsdl:message>
  <wsdl:message name="GetAllPKSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPKResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexes" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllConstraints" />
  </wsdl:message>
  <wsdl:message name="GetAllConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTable1SoapIn">
    <wsdl:part name="parameters" element="tns:GetTable1" />
  </wsdl:message>
  <wsdl:message name="GetTable1SoapOut">
    <wsdl:part name="parameters" element="tns:GetTable1Response" />
  </wsdl:message>
  <wsdl:message name="GetTable2SoapIn">
    <wsdl:part name="parameters" element="tns:GetTable2" />
  </wsdl:message>
  <wsdl:message name="GetTable2SoapOut">
    <wsdl:part name="parameters" element="tns:GetTable2Response" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns1SoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpColumns1" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns1SoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpColumns1Response" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns2SoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpColumns2" />
  </wsdl:message>
  <wsdl:message name="GetEmpColumns2SoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpColumns2Response" />
  </wsdl:message>
  <wsdl:portType name="ERPServiceSoap">
    <wsdl:operation name="EmployeeComboBox">
      <wsdl:input message="tns:EmployeeComboBoxSoapIn" />
      <wsdl:output message="tns:EmployeeComboBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MetaDataComboBox">
      <wsdl:input message="tns:MetaDataComboBoxSoapIn" />
      <wsdl:output message="tns:MetaDataComboBoxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaData">
      <wsdl:input message="tns:GetEmployeeMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmployeeMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpRelativeMetaData">
      <wsdl:input message="tns:GetEmpRelativeMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmpRelativeMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpAbsMetaData">
      <wsdl:input message="tns:GetEmpAbsMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmpAbsMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpTopAbsMetaData">
      <wsdl:input message="tns:GetEmpTopAbsMetaDataSoapIn" />
      <wsdl:output message="tns:GetEmpTopAbsMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPKMetaData">
      <wsdl:input message="tns:GetAllPKMetaDataSoapIn" />
      <wsdl:output message="tns:GetAllPKMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexesMetaData">
      <wsdl:input message="tns:GetIndexesMetaDataSoapIn" />
      <wsdl:output message="tns:GetIndexesMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraintsMetaData">
      <wsdl:input message="tns:GetAllConstraintsMetaDataSoapIn" />
      <wsdl:output message="tns:GetAllConstraintsMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTable1MetaData">
      <wsdl:input message="tns:GetTable1MetaDataSoapIn" />
      <wsdl:output message="tns:GetTable1MetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTable2MetaData">
      <wsdl:input message="tns:GetTable2MetaDataSoapIn" />
      <wsdl:output message="tns:GetTable2MetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns1MetaData">
      <wsdl:input message="tns:GetEmpColumns1MetaDataSoapIn" />
      <wsdl:output message="tns:GetEmpColumns1MetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns2MetaData">
      <wsdl:input message="tns:GetEmpColumns2MetaDataSoapIn" />
      <wsdl:output message="tns:GetEmpColumns2MetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <wsdl:input message="tns:UpdateEmployeeSoapIn" />
      <wsdl:output message="tns:UpdateEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input message="tns:DeleteEmployeeSoapIn" />
      <wsdl:output message="tns:DeleteEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <wsdl:input message="tns:GetEmployeeSoapIn" />
      <wsdl:output message="tns:GetEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpRelativeData">
      <wsdl:input message="tns:GetEmpRelativeDataSoapIn" />
      <wsdl:output message="tns:GetEmpRelativeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpAbsData">
      <wsdl:input message="tns:GetEmpAbsDataSoapIn" />
      <wsdl:output message="tns:GetEmpAbsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpTopAbs">
      <wsdl:input message="tns:GetEmpTopAbsSoapIn" />
      <wsdl:output message="tns:GetEmpTopAbsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPK">
      <wsdl:input message="tns:GetAllPKSoapIn" />
      <wsdl:output message="tns:GetAllPKSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <wsdl:input message="tns:GetIndexesSoapIn" />
      <wsdl:output message="tns:GetIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <wsdl:input message="tns:GetAllConstraintsSoapIn" />
      <wsdl:output message="tns:GetAllConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTable1">
      <wsdl:input message="tns:GetTable1SoapIn" />
      <wsdl:output message="tns:GetTable1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTable2">
      <wsdl:input message="tns:GetTable2SoapIn" />
      <wsdl:output message="tns:GetTable2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns1">
      <wsdl:input message="tns:GetEmpColumns1SoapIn" />
      <wsdl:output message="tns:GetEmpColumns1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns2">
      <wsdl:input message="tns:GetEmpColumns2SoapIn" />
      <wsdl:output message="tns:GetEmpColumns2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ERPServiceSoap" type="tns:ERPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeComboBox">
      <soap:operation soapAction="http://erpimlement.org/EmployeeComboBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MetaDataComboBox">
      <soap:operation soapAction="http://erpimlement.org/MetaDataComboBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetEmployeeMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpRelativeMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpRelativeMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpAbsMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpAbsMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpTopAbsMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpTopAbsMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPKMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetAllPKMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexesMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetIndexesMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraintsMetaData">
      <soap:operation soapAction="http://erpimlement.org/GetAllConstraintsMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable1MetaData">
      <soap:operation soapAction="http://erpimlement.org/GetTable1MetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable2MetaData">
      <soap:operation soapAction="http://erpimlement.org/GetTable2MetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns1MetaData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpColumns1MetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns2MetaData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpColumns2MetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://erpimlement.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap:operation soapAction="http://erpimlement.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://erpimlement.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://erpimlement.org/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpRelativeData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpRelativeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpAbsData">
      <soap:operation soapAction="http://erpimlement.org/GetEmpAbsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpTopAbs">
      <soap:operation soapAction="http://erpimlement.org/GetEmpTopAbs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPK">
      <soap:operation soapAction="http://erpimlement.org/GetAllPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap:operation soapAction="http://erpimlement.org/GetIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <soap:operation soapAction="http://erpimlement.org/GetAllConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable1">
      <soap:operation soapAction="http://erpimlement.org/GetTable1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable2">
      <soap:operation soapAction="http://erpimlement.org/GetTable2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns1">
      <soap:operation soapAction="http://erpimlement.org/GetEmpColumns1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns2">
      <soap:operation soapAction="http://erpimlement.org/GetEmpColumns2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPServiceSoap12" type="tns:ERPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EmployeeComboBox">
      <soap12:operation soapAction="http://erpimlement.org/EmployeeComboBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MetaDataComboBox">
      <soap12:operation soapAction="http://erpimlement.org/MetaDataComboBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmployeeMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpRelativeMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpRelativeMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpAbsMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpAbsMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpTopAbsMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpTopAbsMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPKMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetAllPKMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexesMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetIndexesMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraintsMetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetAllConstraintsMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable1MetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetTable1MetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable2MetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetTable2MetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns1MetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpColumns1MetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns2MetaData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpColumns2MetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://erpimlement.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmployee">
      <soap12:operation soapAction="http://erpimlement.org/UpdateEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://erpimlement.org/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://erpimlement.org/GetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpRelativeData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpRelativeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpAbsData">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpAbsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpTopAbs">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpTopAbs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPK">
      <soap12:operation soapAction="http://erpimlement.org/GetAllPK" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap12:operation soapAction="http://erpimlement.org/GetIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllConstraints">
      <soap12:operation soapAction="http://erpimlement.org/GetAllConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable1">
      <soap12:operation soapAction="http://erpimlement.org/GetTable1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable2">
      <soap12:operation soapAction="http://erpimlement.org/GetTable2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns1">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpColumns1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpColumns2">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpColumns2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ERPService">
    <wsdl:port name="ERPServiceSoap" binding="tns:ERPServiceSoap">
      <soap:address location="http://localhost:61600/ERPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPServiceSoap12" binding="tns:ERPServiceSoap12">
      <soap12:address location="http://localhost:61600/ERPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>