ERPForm/Service References/ServiceReference1/ERPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://erpimlement.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://erpimlement.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://erpimlement.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Fill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmpTbl">
        <s:complexType />
      </s:element>
      <s:element name="GetEmpTblResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpTblResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowAbsData">
        <s:complexType />
      </s:element>
      <s:element name="ShowAbsDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowAbsDataResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FillSoapIn">
    <wsdl:part name="parameters" element="tns:Fill" />
  </wsdl:message>
  <wsdl:message name="FillSoapOut">
    <wsdl:part name="parameters" element="tns:FillResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpTblSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpTbl" />
  </wsdl:message>
  <wsdl:message name="GetEmpTblSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpTblResponse" />
  </wsdl:message>
  <wsdl:message name="ShowAbsDataSoapIn">
    <wsdl:part name="parameters" element="tns:ShowAbsData" />
  </wsdl:message>
  <wsdl:message name="ShowAbsDataSoapOut">
    <wsdl:part name="parameters" element="tns:ShowAbsDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ERPServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <wsdl:input message="tns:FillSoapIn" />
      <wsdl:output message="tns:FillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpTbl">
      <wsdl:input message="tns:GetEmpTblSoapIn" />
      <wsdl:output message="tns:GetEmpTblSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowAbsData">
      <wsdl:input message="tns:ShowAbsDataSoapIn" />
      <wsdl:output message="tns:ShowAbsDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ERPServiceSoap" type="tns:ERPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://erpimlement.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <soap:operation soapAction="http://erpimlement.org/Fill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpTbl">
      <soap:operation soapAction="http://erpimlement.org/GetEmpTbl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAbsData">
      <soap:operation soapAction="http://erpimlement.org/ShowAbsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ERPServiceSoap12" type="tns:ERPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://erpimlement.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fill">
      <soap12:operation soapAction="http://erpimlement.org/Fill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpTbl">
      <soap12:operation soapAction="http://erpimlement.org/GetEmpTbl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAbsData">
      <soap12:operation soapAction="http://erpimlement.org/ShowAbsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ERPService">
    <wsdl:port name="ERPServiceSoap" binding="tns:ERPServiceSoap">
      <soap:address location="http://localhost:61600/ERPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ERPServiceSoap12" binding="tns:ERPServiceSoap12">
      <soap12:address location="http://localhost:61600/ERPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>